<h1 mat-dialog-title>Add Employee</h1>

<div mat-dialog-content>
  <form class="add-employee-form" [formGroup]="employeeForm">
    <!-- Name -->
    <table class="form-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-full-width" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <!-- Type -->
    <mat-radio-group aria-label="Type" formControlName="typeId">
      <mat-radio-button value="1">Employee</mat-radio-button>
      <mat-radio-button value="2">Manager</mat-radio-button>
    </mat-radio-group>

    <!-- Position -->
    <mat-form-field class="form-full-width" appearance="fill">
      <mat-label>Position</mat-label>
      <mat-select formControlName="positionId" required>
        <mat-option *ngFor="let position of positions" [value]="position.id">
          {{ position.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-full-width" appearance="fill">
      <mat-label>Manager</mat-label>
      <mat-select formControlName="managerId" required>
        <mat-option *ngFor="let manager of managers" [value]="manager.id">
          {{ manager.firstName + ' ' + manager.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
    (click)="addEmployee()"
  >
    Save
  </button>
</div>