.mat-table, .mat-paginator {
  width: 100%;
}

.mat-button-base {
  margin-bottom: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.action-button-center {
  display: block;
	margin:auto;
  width: 100px;
}